@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 10px;
}

.time {
  color: grey;
  margin: 5px 0px;
}

.wrapper {
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
}
.title {
  font-family: "Prompt";
  font-style: italic;
  font-size: 20px;
  margin-bottom: 5px;
}

.trendings {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  flex-direction: row;
  gap: 10px;
  text-align: left;
  align-content: space-around;
}
