@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 10px;
}

.wrapper {
  border: 1.5px solid #e5e5e5;
  border-radius: 5px;
}

.title {
  font-family: "Prompt";
  font-style: italic;
  font-size: 20px;
  margin-bottom: 10px;
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-bottom: 1.5px solid #e5e5e5;
  padding: 10px;
}

.news:last-child {
  border-bottom: none;
}

.order {
  font-family: "Prompt";
  font-style: italic;
  color: #e5e5e5;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
  min-width: 45px;
}

.newsType {
  color: red;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5;
}

.newsTitle {
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
