@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 10px;
}

.trendings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 10px;
  text-align: left;
  padding: 5px 0;
  font-size: 14px;
}

.trendings .tag {
  font-weight: bold;
}
